p.one{border-style:solid;border-color:red;}
p.two{border-style:solid;border-color:green;}
p.three{border-style:solid;border-color:red green blue yellow;}
p{border-top-style:dotted;border-right-style:solid;border-bottom-style:dotted;border-left-style:solid}
p{border-left:6px solid red;background-color:lightgrey;}
p{margin:25px 50px 75px 100px;}
div{width:300px;margin:auto;border:1px solid red;}
