
body{background-image:url("/home/Sem6B12/Downloads/images.jpeg"); background-repeat:repeat; background-attachment:fixed;background-attachment:scroll;}
h1{color:maroon; margin-left:40px;}
p#pr{color:blue; }
