
body{background-image:url("cc"); background-repeat:no-repeat; background-attachment:fixed;background-attachment:scroll;}
h1{color:maroon; margin-left:40px;}
#pr{color:blue; }
p.mix{border-style:dotted dashed solid double;}
p.school{color:red;}
.college{color:cyan;}
