.dfrg {
	
	height: 190px;
   	width: 190px;
    border-radius: 100px;
    opacity: 0.7;
    transition :1s ease;
}
.dfrg :hover
{
opacity: 1;
transition: 1s ease;
}
.adc{
	width:422px; 
	height:234px;
	
	border-radius: 20px;
}
.abc{
	background-color: grey;
}
.bru{
	 text-shadow:2px 2px #b4b4b4
}